body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(207, 46, 194), rgb(188, 217, 222));
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 70%;
    margin: auto;
}


h1 {
    font: 400 3rem 'Pacifico', serif;
    margin: 2px;
    text-align: center;
    line-height: 3.8rem;
}

h3 {
    font: 300 1.5rem tahoma, sans-serif;
    margin: 1.8rem;
    text-align: center;
}

p {
    font: 300 1.3rem tahoma, sans-serif;
}

label {
    font: 300 1.3rem tahoma, sans-serif;
}

button {
    font: 300 1.3rem tahoma, sans-serif;
    height: 1.8rem;
    border: .5px solid black;
    border-radius: 5px;
}

input[type="number"]:focus {
    outline: none;
}

input#number-input {
    height: 1.4rem;
    width: 3rem;
    font-size: 1.3rem;
}

label,
button,
input {
    margin: 0.5rem;
}

form#form-fields {
    text-align: center;
}

div#generator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}